*.iml
S1313540_PodcastApp/.gradle
S1313540_PodcastApp/local.properties
S1313540_PodcastApp/.idea/workspace.xml
S1313540_PodcastApp/.idea/libraries
S1313540_PodcastApp/.DS_Store
S1313540_PodcastApp/build
S1313540_PodcastApp/captures
S1313540_PodcastApp/.externalNativeBuild
